<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>Medical Diagnosis</title>
</head>

<body>
  <h1 class="p-3 text-center">Medical Diagnosis</h1>

  <div class="container">
    <form class="p-3 text-center" action='/' , method="post" enctype="multipart/form-data">
      <label for="img_upload">
        <h3>Upload images of the symtoms from different angles:</h3>
      </label>
      <input class="form-control" type="file" name="images[]" id="img_upload" multiple>
      <input class="btn btn-primary mt-3" type="submit" value="Predict Image">
    </form>
  </div>

  {% if result %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">

          {% for image in result['image_path'] %}
          <div class="col-6">
            <img src={{image}} class="img-fluid text-center border" width=100% alt="Responsive image">
          </div>
          {% endfor %}

        </div>
      </div>
      <div class="col">
        <h4 class="text-center">
          You are
          {% if result['label'] == 'healthy' %} healthy {% else %} diagnosed with {{result['label']}} {% endif %}
          ({{'%.2f%%' % result['class_probs'][result['label']]}}).
        </h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Class</th>
              <th>Probability</th>
            </tr>
          </thead>
          {% for label in result['class_probs'].items() %}
          <tr>
            <td>{{label[0]}}</TD>
            <td>{{'%.2f%%' % label[1]}}</TD>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% endif %}
</body>

</html>
